/*
Developed by Victor Moreno
*/

/*///////////////
///GLOBAL CSS///
//////////////*/
body {
    margin: 0px;
    padding: 0px;
    color: #2c2626;
    background: black;
}
.contentBlock, .frontBlock {
    text-align: center;
}
.cb-container {
    display: inline-block;
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    width: 100%;
}
.cb02, .cb03 {
    z-index: 6;
    position: relative;
    height: 40vw;
}
.cb02 {

}
.cb03, .cb05, .cb06 {
 background: #B1B1B1;
}
.gimg {
 z-index: 5;
 position: relative;
 width: 100%;
}
/*//////////////////
///HIDDEN CONTENT///
//////////////////*/
.contentBlock, .scr-container {
 display: none;
}

/*///////////////
///BACKGROUND///
//////////////*/
#bg {
    width: 100%;
    position: fixed;
    top: -5%;
    left: 0;
    z-index: -10;
    opacity: 100%;
}
#bgvid {
  position: fixed;
  top: -25%;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 75vw;
}
.vidContainer {
    overflow: hidden;
}
/*/////////////////
///WEBSITE LOGO///
////////////////*/
.logoContainer {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px 50px;
    color: #2c2626;
    font-family: 'Oswald', sans-serif;
    line-height: 0px;
    text-align: center;
}
#webLogo {
    font-size: 6em;
    letter-spacing: 10px;
    margin-bottom: 55px;
}
#subLogo {
    font-size: 10px;
    letter-spacing: 5px;
    font-family: 'Spartan', sans-serif;
}
/*///////////////////
//WEBSITE BUTTONS///
//////////////////*/
.menuBtn {
    text-align: center;
    margin: 50px;
}
#toggleOff {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 85px solid #2c2626;
    position: relative;
    z-index: 3;
    display: inline-block;
}
.btnTXT {
    position: absolute;
    top: -80px;
    left: -25px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: arial;
    font-size: 10px;
}
.circleContain {
    overflow: hidden;
}
.circleTrans {
    background: #eceff1;
    position: fixed;
    width: 500%;
    height: 500%;
    border-radius: 100%;
    top: -200%;
    right: -500%;
    z-index: 5;
}

/*//////////////////
//MAIN MENU LIST///
/////////////////*/
.menuTitle {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: inline-block;
    text-align: center;
    width: 50%;
}
/*/////////////
///ABOUT ME///
////////////*/
.subtxt {
 font-size: 20px;
}
.bigtxt {
 font-size: 10em;
 font-weight: bold;
 margin-top: -30px;
}
.cb03 {
 width: 800px 100%;
}
.imgContainer {
 overflow: hidden;
}
