/*
Developed by Victor Moreno
This css document effects the following blocks:
-Big text
-
*/

/*/////////////////////
//MAIN LANDING BLOCK///
///////////////////*/
.quoteContainer {
    width: 100%;
    position: relative;
    top:25em;
    text-align: center;
}
.mainTXT {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    letter-spacing: 5px;
}
.slide {
    overflow: hidden;
    height: 25px;
    margin-top: -20px;
    /*background: #2c2626;*/
}
.slider-item {
    /*color: white;*/
}
/*/////////////////////
//SOCIAL MEDIA LINKS///
////////////////////*/
.smContainer {
    text-align: center;
    width: 100%;
    position: relative;
    top: 26em;
}
.smBlock {
    display: inline-block;
}
.smLink {
    text-decoration: none;
    float: left;
    color: black;
    list-style-type: none;
}
.smImg {
    width: 25%;
}

/*///////////////////////////
//CLOSE LINE CORNER BUTTON///
///////////////////////////*/
.close {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 50px;
  height: 50px;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*/////////////////////
//DIRECTIONAL PROMPT///
//////////////////////*/
.scr-container {
 width: 100%;
 position: fixed;
 bottom: 3em;
 text-align: center;
 z-index: 10;
}
.scr-body {
 display: inline-block;
 border: black solid 1px;
 padding: 10px 25px;
 font-size: 15px;
 letter-spacing: 2px;
 font-family: 'Spartan', sans-serif;
}
