/*
Developed by Victor Moreno
This css document effects the following blocks:
-Big text
-
*/

/*/////////////////////////////
//CONTENT BLOCK 01/HOME PAGE///
///////////////////////////*/
.quoteContainer {
    width: 100%;
    position: relative;
    text-align: center;
}
#pfp {
 border-radius: 100%;
 width: 10em;
 margin: 50px;
}
.mainTXT {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    letter-spacing: 5px;
}
.slide {
    overflow: hidden;
    height: 25px;
    margin-top: -20px;
    /*background: #2c2626;*/
}
.slider-item {
    /*color: white;*/
}
/*/////////////////////
//SOCIAL MEDIA LINKS///
////////////////////*/
.smContainer {
    text-align: center;
    width: 100%;
    position: relative;
    top: 26em;
}
.smBlock {
    display: inline-block;
}
.smLink {
    text-decoration: none;
    float: left;
    color: black;
    list-style-type: none;
}
.smImg {
    width: 25%;
}

/*/////////////////////
////SCROLLING PROMPT///
//////////////////////*/
.scr-container {
 width: 100%;
 position: fixed;
 bottom: 3em;
 text-align: center;
 z-index: 10;
}
.scr-body {
 display: inline-block;
 border: black solid 1px;
 padding: 10px 25px;
 font-size: 15px;
 letter-spacing: 2px;
 font-family: 'Spartan', sans-serif;
}
