/*
Developed by Victor Moreno
This css document effects the following blocks:
-Big text
-
*/

/*/////////////////////////////
//CONTENT BLOCK 01/HOME PAGE///
///////////////////////////*/
.quoteContainer {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;

}
#pfp {
 border-radius: 100%;
 width: 10em;
 margin: 50px;
 border: solid 10px #2c2626;
}
.mainTXT {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    letter-spacing: 5px;
}
.slide {
    overflow: hidden;
    height: 25px;
    margin-top: -20px;
    /*background: #2c2626;*/
}
.slider-item {
    /*color: white;*/
}
/*/////////////////////
//SOCIAL MEDIA LINKS///
////////////////////*/
.smContainer {
    text-align: center;
    width: 100%;
    position: relative;
    top: 26em;
}
.smBlock {
    display: inline-block;
}
.smLink {
    text-decoration: none;
    float: left;
    color: black;
    list-style-type: none;
}
.smImg {
    width: 25%;
}

/*/////////////////////
////SCROLLING PROMPT///
//////////////////////*/
.scr-container {
    width: 100%;
    position: fixed;
    bottom: 3em;
    text-align: center;
    z-index: 10;
}
.scr-body {
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Spartan', sans-serif;
    background: #2c2626;
    color: white;
}
